*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    max-width: 400px;
}


@keyframes showDescriptions {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }

    to{
        opacity: 100;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showDescriptionsDown {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }

    to{
        opacity: 100%;
        transform: translate3d(0, 0, 0);
    }
}

.hasJS .js-scroll {
    opacity: 0;
    transition-duration: 1s;
    transform: translate3d(-35px ,0,0);
}

.hasJS .js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0,0,0);
}

.hasJS [data-anime='show-right'], .hasJS #faq dd{
    animation-name: showDescriptions;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    display: none;
}

.hasJS [data-anime='show-down']{
    animation-name: showDescriptionsDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    display: none;
}

.hasJS #animals-description .ativo, .hasJS #faq .opened{
    display: inline-block;
}


.hasJS #faq dt::after{
    content: '';
    background: url(../images/red-arrow.svg) no-repeat center center;
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: rotate(90deg);
}

.hasJS #faq dt.opened::after{
    content: '';
    background: url(../images/red-arrow.svg) no-repeat center center;
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: rotate(270deg);
}

#arrow-black {
    background: url(../images/black-arrow.svg) no-repeat center center;
    width: 11px;
    height: 11px;
    display: inline-block;
}

ul{
    list-style: none;
}

body{
    background-color: #faf6ed;
    color: #222;
    -webkit-font-smoothing: antialiased;
}

#grid-container{
    display: grid;
    grid: auto / 1fr 130px minmax(300px, 800px) 1fr
}

nav, footer{
    display: grid;
    grid-column: 3 / 5;
    background-color: #fb5;
    margin: 2rem 0;
    padding: 15px;
    font-family: monospace;
    font-weight: 900;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}

nav li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #222;
    margin-right: 10px;
    font-size: 1.135rem;
    letter-spacing: 2px;
    width: fit-content;
}

.grid-section{
    display: grid;
    grid-column: 2/4;
    padding: 10px;
    grid: auto / 90px 300px 1fr;
    gap: 20px;
    margin-bottom: 4rem;
}

h1, #faq h2, #contact h2, #numbersGrid > h2{
    font-family: 'Playfair Display SC', Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    font-weight: 400;
    font-size: 6rem;
    margin-bottom: 1.3rem;
    grid-column: 1 / 4;
}

#animals ul{
    grid-column: 2 / 3;
    height: 370px;
    overflow-y: scroll;
    cursor: pointer;
}

ul:nth-child(2)::-webkit-scrollbar{
    width: 20px;
}

ul:nth-child(2)::-webkit-scrollbar-thumb{
    background: #fb5;
    margin-left: 5px;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

#animals-description h2, #faq dt{
    font-family: monospace;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: .8rem;
    color: #e54
}

#animals-description h2::before, #faq dt::before, #dados li::before{
    content: ' ';
    display: inline-block;
    width: 2em;
    height: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: #fb5;
}

[data-opTime]::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #e54; 
    margin-left: 10px;
} 

.aberto::after{
    background-color: green; 
}

#animals-description p, #faq dd{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: left;
}

#animals-description section {
    margin-bottom: 3rem;
}

#faq dl, #numbersContainer{
    grid-column: 2 / 4;
}

#faq dt{
    width: fit-content;
    font-weight: 900;
    cursor: pointer;
}

#faq dd{
    margin-left: 3rem;
}

#map{
    grid-column: 2 / 3;
    position: relative;
    width: fit-content;
}

#dados li {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 1rem;
}

.donationBitCoin span{
    background-color: rgb(43, 185, 0);
    padding: .10rem .30rem
}

@media (max-width: 710px) {
    #grid-container{
        grid: auto / 1fr;
    }

    footer, .grid-section{
        grid-column: 1;
    }

    .grid-section{
        grid: auto / 150px 1fr;
        margin: 1rem 0;
    }

    #animals ul{
        grid-column: unset;
    }
    
    h1, #faq h2, #contact h2, #numbersGrid > h2{
        font-size: 2.5rem;
    }
    
    #numbersContainer .animalsNumbers h2{
        font-size: 1.8rem;
    }

    #faq dt{
        font-size: 1rem;
    }

    #map, #dados, #faq dl, #contact, #grid-container #slide-container{
        grid-column: 1/4;
    }

    #slide-container #photosContainer img{
      width: 80vw;
    }
}
